@sansFont:sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: @sansFont;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type:none;
}
body,textarea,input,button,keygen,legend{color:#000;outline:0;}